.card {
    background-color: #D8E2E9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:auto;
    margin: 50px;
    width: 40%;
    max-width: 1000px;
    max-height: 320px;
    height: fit-content;
    border-radius: 10px;
}

.photo {
    max-width: 200px;
    max-height: 300px;
    border-radius: 10px;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
    margin-left: 40px;
}

.title {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.textSinopse {
    font-size: 1rem;
    text-align: left;
    margin: 1rem 0;
}

.cta {
    width: fit-content;
    height: 2.5rem;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: black;
    color: #D8E2E9;


}
